.combat {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 20px;
}

.combat > *:not(:first-child) {
  flex: 1 1 auto;
}

.attack {}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: black;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 4px solid white;
}

.buttons > * {
  width: 100%;
}

.button {
  text-align: left;
  background-color: black;
  color: white;
  font-family: Alagard, serif;
  font-size: 24px;
  padding: 5px 10px;
  border: none;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:active:not(:disabled) {
  background-color: gray;
}

.button:hover {
  background-color: silver;
}

.button:disabled {
  color: gray;
  border-color: gray;
}
