.button {
  text-align: center;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-family: Alagard, serif;
  font-size: 24px;
  padding: 5px 10px;
}

button:not(:disabled) {
  cursor: pointer;
}

.button:active:not(:disabled) {
  background-color: gray;
}

.button:disabled {
  color: gray;
  border-color: gray;
}
