.arrow {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  user-select: none;
  touch-action: manipulation;
  color: white;
}

.arrow:hover {
  color: silver;
}

.arrow:active {
  color: cyan;
}

.up {
  top: 5px;
  left: calc(50% - 20px);
}

.down {
  bottom: 5px;
  left: calc(50% - 20px);
}

.left {
  top: calc(50% - 20px);
  left: 5px;
}

.right {
  top: calc(50% - 20px);
  right: 5px;
}
