.arrow {
  position: absolute;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  
  border: none;
  font-size: 40px;
  font-weight: bold;
  user-select: none;
  touch-action: manipulation;
  color: white;
  font-family: sans-serif;
}

.arrow:hover {
  color: silver;
}

.arrow:active {
  color: cyan;
}

.up {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.down {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.right {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
