.viewport {
  position: relative;
  overflow: hidden;
  width: 640px;
  max-width: 100%;
  aspect-ratio: 4/3;
  border-radius: 0;
}

canvas {
  image-rendering: pixelated;
}

@media (min-width: 768px) {
  .viewport {
    border: 4px solid white;
  }
}
