.container {
  position: relative;
  width: 100%;
}

.viewport {
  outline: 2px solid #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

@media (min-width: 768px) {
  .container {
    width: 640px;
    height: 480px;
  }
}
