.textarea {
  width: 640px;
  height: 120px;
  resize: none;
  overflow-y: auto;
  color: white;
  background-color: transparent;
  font-family: Alagard, serif;
  font-size: 24px;
  padding: 5px;
  border: none;
  outline: none;
}
