.map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
  overflow: hidden;
  background-color: gray;
  border: 4px solid white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: 100%;
}

.tile {
  border: 0 solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  height: 100%;
}

.tile.current {
  background-color: #f0f0e0;
}

.floor {
  background-color: silver;
}

.wall {
  background-color: gray;
}

.stairs {
  background-color: #f00080;
}

.door {
  background-color: #f00080;
}

.arrow {
  color: black;
  font-family: sans-serif;
}

.arrow.north::after {
  content: '↑';
}

.arrow.south::after {
  content: '↓';
}

.arrow.east::after {
  content: '→';
}

.arrow.west::after {
  content: '←';
}
