.meter {
  height: 20px;
  position: relative;
  background-color: gray;
  border: 2px solid white;
  overflow: hidden;
}

.current {
  height: 100%;
  position: absolute;
  outline: 2px solid white;
}

.life.high {
  background-color: lime;
}

.life.medium {
  background-color: yellow;
}

.life.low {
  background-color: #ff8000;
}

.life.critical {
  background-color: red;
}

.mana {
  background-color: blue;
}

.ap {
  background-color: #00c0c0;
}

.experience {
  background-color: #ffc000;
}
