.meter {
  height: 20px;
  position: relative;
  background-color: #808080;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.current {
  height: 100%;
  position: absolute;
  outline: 2px solid #ffffff;
}

.life.high {
  background-color: #00ff00;
}

.life.medium {
  background-color: #ffff00;
}

.life.low {
  background-color: #ff8000;
}

.life.critical {
  background-color: #ff0000;
}

.mana {
  background-color: #0000ff;
}

.experience {
  background-color: #ffc000;
}
