.trainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.background,.shopkeeper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateY(180deg);
  filter: hue-rotate(-90deg);
}

.abilities {}
.ability {}
