* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Alagard, serif;
  font-size: 24px;

  background-color: black;
  color: white;
}

@font-face {
  font-family: Alagard;
  src: url(fonts/alagard.ttf);
}
